html {
	scroll-behavior: smooth;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	/* background: linear-gradient(
        90deg
        , #FC466B 0%, #3F5EFB 100%);  */
	color: white;
	font-family: "Open Sans", sans-serif;
	background-color: black;
}

h3 {
	margin-top: 16px;
}

a {
	text-decoration: none;
	color: inherit;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	position: relative;
}

p {
	line-height: 2;
}

a:hover {
	text-decoration: none;
	color: rgb(255, 102, 0);
}

nav {
	margin-bottom: 10%;
}

/* Headings */

.title-heading {
	text-align: center;
	font-size: 3rem;
	padding-top: 5%;
}

.big-heading {
	font-weight: 900;
	font-size: 4.5rem;
	line-height: 1.5;
}

.project-heading {
	font-weight: 800;
}

.contact-heading {
	font-weight: 800;
	margin-bottom: 2%;
}

.footer-heading {
	margin-left: 10px;
	margin-top: 5px;
	font-size: 1.5rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

.skills-heading {
	font-weight: 900;
	font-size: 4.5rem;
	line-height: 1.5;
}

/* Containers */
.padding-x {
	padding-left: 50px;
	padding-right: 50px;
}

.padding-y {
	padding-top: 50px;
	padding-bottom: 50px;
}

.padding-t {
	padding-top: 50px;
}

.padding-b {
	padding-bottom: 50px;
}

/* .container-fluid {
	padding: 7% 20%;
}

#projects .container-fluid {
	padding: 0% 20% 7%;
}

#footer .container-fluid {
	padding: 2% 20% 5%;
} */

/* Sections */

#home {
	background-color: black;
}

#about {
	background: rgb(0, 255, 231);
	background: linear-gradient(
		346deg,
		rgba(0, 255, 231, 1) 0%,
		rgba(2, 130, 255, 1) 35%,
		rgba(226, 0, 255, 1) 100%
	);
}

#skills {
	background-color: #0b0c16;
}

#projects {
	background: rgb(255, 42, 14);
	background: linear-gradient(
		330deg,
		rgba(255, 42, 14, 1) 0%,
		rgba(141, 0, 255, 1) 80%
	);
}

#contact {
	background-color: black;
}

#footer {
	background-color: black;
	font-family: "Open Sans", sans-serif;
}

/* Navbar */

.navbar {
	padding-left: 0;
	padding-right: 0;
}

.navbar-brand {
	font-weight: bold;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
}

/* Buttons */

.btn {
	border-radius: 12px;
}

.title-button {
	background: linear-gradient(
		100deg,
		#e43603,
		#e200ff,
		#f5ce62,
		#fa7199,
		#e43603
	);

	background-size: 400%;
	color: white;
	width: 250px;
	height: 60px;
}

.title-button:before {
	content: "";
	position: absolute;
	background: inherit;
	top: -5x;
	right: -5x;
	bottom: -5x;
	left: -5x;
	border-radius: 50px;
	filter: blur(20px);
	opacity: 0;
	transition: opacity 0.5s;
}

.title-button:hover:before {
	opacity: 1;
	z-index: -1;
}

.title-button:hover {
	z-index: 1;
	animation: glow 8s linear infinite;
	color: white;
}

.contact-button {
	background: linear-gradient(
		90deg,
		#e43603,
		#e43603,
		#e200ff,
		#f5ce62,
		#fa7199,
		#e43603
	);

	background-size: 400%;
	color: white;
	border: none;
}

.contact-button:before {
	content: "";
	position: absolute;
	background: inherit;
	top: -5x;
	right: -5x;
	bottom: -5x;
	left: -5x;
	border-radius: 50px;
	filter: blur(20px);
	opacity: 0;
	transition: opacity 0.5s;
}

.contact-button:hover:before {
	opacity: 1;
	z-index: -1;
}

.contact-button:hover {
	z-index: 1;
	animation: glow 8s linear infinite;
	color: white;
}

.footer-button {
	background: linear-gradient(
		90deg,
		#e43603,
		#e43603,
		#e200ff,
		#f5ce62,
		#fa7199,
		#e43603
	);

	background-size: 400%;
	color: white;
	border: none;
}

.footer-button:before {
	content: "";
	position: absolute;
	background: inherit;
	top: -5x;
	right: -5x;
	bottom: -5x;
	left: -5x;
	border-radius: 50px;
	filter: blur(20px);
	opacity: 0;
	transition: opacity 0.5s;
}

.footer-button:hover:before {
	opacity: 1;
	z-index: -1;
}

.footer-button:hover {
	z-index: 1;
	animation: glow 8s linear infinite;
	color: white;
}

/* Title Section */

.title {
	padding-top: 13%;
	padding-bottom: 7%;
}

.subtitle {
	font-size: 2.25rem;
	color: #777;
	line-height: 1.3;
	margin-bottom: 5%;
}

.title-image {
	width: 100%;
}

.fill {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.fill img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}

/* About Section */

.about-paragraph {
	padding-top: 15px;
	padding-left: 20px;
	font-size: 1.3rem;
	font-weight: 500;
}

.skill-box {
	padding: 5%;
	text-align: center;
}

.icon:hover {
	color: #f64d28;
}

.social-media {
	padding: 10% 20% 0;
}

.social-icon {
	margin: 30px 20px;
}

.footer-text {
	margin: 0;
}

.about-paragraph {
	margin-bottom: 5%;
}

.card {
	background: rgb(0, 168, 255);
	background: linear-gradient(
		166deg,
		rgba(0, 168, 255, 1) 0%,
		rgba(252, 14, 255, 1) 94%
	);
	border: none;
}

/* Projects */

.carousel-images {
	border-radius: 25px;
	max-width: 100%;
}

/* .carousel-control-prev {
	left: -125px;
}
.carousel-control-next {
	right: -125px;
}
 */
.carousel-indicators {
	bottom: -50px;
}
/* Contact */

.input {
	border: none;
	background-color: hsla(0, 0%, 100%, 0.07);
	color: white;
	height: 56px;
}

.contact-form select:focus,
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form button:focus {
	background: var(--bgFormElsFocus);
}

.contact-form select:focus,
.contact-form input:focus,
.contact-form textarea:focus {
	transform: scale(1.02);
	color: white;
}

/* Footer */

.line-padding {
	padding-left: 20%;
	padding-right: 20%;
}

footer .line {
	border-top: 1px solid hsla(0, 0%, 100%, 0.2);
}

.footer-paragraph {
	line-height: 1.5;
	font-size: 1.3rem;
	font-weight: 500;
}

.footer-image {
	margin-bottom: 25px;
	object-fit: cover;
}

/* .get-in-touch {
	padding-right: 40px;
} */

.footer-text {
	font-size: 1.4rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	text-align: right;
}

#footer-contact {
	color: #f64d28;
	padding-bottom: 15px;
}

@keyframes glow {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}
@media (max-width: 767px) {
	.nav-item {
		padding: 0 0px;
	}

	.form-control {
		font-size: 14px;
	}
	.contact-button {
		margin-top: 15px;
	}
	.form-group {
		margin-bottom: 0;
	}
	.padding-x {
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer-text {
		text-align: center;
	}

	.navbar {
		margin-bottom: 0;
	}

	.title {
		padding-top: 0;
	}

	.big-heading {
		font-size: 36px;
	}

	.subtitle {
		font-size: 18px;
	}

	.about-heading {
		font-size: 20px;
		font-weight: 400;
	}

	.about-paragraph {
		font-size: 14px;
		padding-left: 0;
	}

	.skills {
		font-size: 18px;
	}

	.fa-4x {
		font-size: 32px;
	}

	.fa-3x {
		font-size: 28px;
	}

	.project-heading {
		font-size: 20px;
	}

	.contact-heading {
		font-size: 20px;
	}

	.skill-collapse {
		font-size: 12px;
		margin-bottom: 0;
	}

	.contact-button {
		font-size: 14px;
	}

	.footer-link {
		text-align: center;
	}

	.w-50 {
		width: 100% !important;
	}
}
@media (max-width: 1024px) {
	.title {
		text-align: center;
	}

	.big-heading {
		text-align: center;
	}

	.about-heading {
		text-align: center;
	}

	.about-paragraph {
		text-align: center;
	}

	.scrolldown {
		display: none;
	}

	
}

@media only screen and (min-width: 1024px) and (max-width: 2560px) {
	nav ul li a:after {
		content: "";
		width: 0%;
		height: 3px;
		position: absolute;
		bottom: -5px;
		left: 50%;
		transform: translateX(-50%);
		background: #f64d28;
		transition: width 0.3s;
	}
	
	nav ul li a:hover::after {
		width: 50%;
	}
}

/* background: rgb(0, 245, 156);
	background: linear-gradient(
		90deg,
		rgba(0, 245, 156, 1) 0%,
		rgba(0, 224, 255, 1) 50%,
		rgba(150, 0, 152, 1) 100%
	); */

/* #projects .padding-y {
	padding-bottom: 100px;
} */

.navbar {
	padding: 20px 0;
}

.carousel-item {
	margin-bottom: 50px;
}

.fill {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.fill img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}

.footer-about,
.footer-skills,
.footer-projects,
.footer-contact {
	font-size: 1.4rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

.footer-contact {
	color: #f64d28;
}

/* .carousel-inner > .item > img {
	width: 640px;
	height: 360px;
} */

.scrolldown {
	position: absolute;
	bottom: 3%;
	right: 5%;
	width: 40px;
	height: 40px;
	transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 4px solid #f64d28;
	border-right: 4px solid #f64d28;
}
